<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h2>About Us</h2>
    <p>I dunno man</p>


    <%- include('./partials/footer.ejs') %>
</body>
</html>