<!doctype html>
<html>
<head>
<title>This is the title</title>
</head>

<body>
    <h1>About</h1>

    <a href="/">Homepage</a>
    <a href="/about">About</a>

    <p>Bucky is amazing....</p>

    <h2>This is second heading..</h2>
<p>Speak English! This is English land.<br />We don't speak Taco bell....</p>

<!--The HTML <pre> Element-->
    <pre>
        My Bonnie lies over the ocean.
     
        My Bonnie lies over the sea.
     
        My Bonnie lies over the ocean.
        
        Oh, bring back my Bonnie to me.
     </pre>
</body>

</html>