<!doctype html>
<html>
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <h1>YEEEEET</h1>

    <h1>404</h1>

    <%- include('./partials/footer.ejs') %>
</body>

</html>